*.pyc
.DS_Store
*.csv
Notebooks/.ipynb_checkpoints/Clustering of ETNOs-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/MPC observations-checkpoint.ipynb
Notebooks/Clustering of ETNOs.ipynb
*.txt
Notebooks/MPC observations.ipynb
*.fits
Notebooks/MPC observations.ipynb
