*.pyc
.DS_Store
*.csv
Notebooks/.ipynb_checkpoints/Clustering of ETNOs-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/MPC observations-checkpoint.ipynb
Notebooks/Clustering of ETNOs.ipynb
*.txt
Notebooks/MPC observations.ipynb
*.fits
Notebooks/MPC observations.ipynb
*.so
*.pop
*.fits
scripts/
*.plist
*.pdf
*.png
Notebooks/.ipynb_checkpoints/ETNO plots-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Selection functions-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Notebooks/ETNO plots.ipynb
Notebooks/Selection functions.ipynb
Notebooks/Untitled.ipynb
tno/de421.bsp
tno/Leap_Second.dat
